.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 74px;
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 600px;
    height: 200px;
    font-size: 50px;
    background-color: rgb(60, 62, 68);
    border-radius: 8px;
  }
  .countBlock {
    color: #ffffff;
    text-align: center;
    margin-bottom: 14px;
  }
  .charactersBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .characterItem {
      width: 600px;
      height: 200px;
      background-color: rgb(60, 62, 68);
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 8px;
      overflow: hidden;
      margin: 0 16px 16px 0;
      .characterImg {
        width: 220px;
        height: 100%;
      }
      .characterInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 0 20px;
        color: #ffffff;
        width: 400px;
        .heroNameAndStatusBlock {
          .heroName {
            cursor: pointer;
          }
          .heroName:hover {
            color: #ce994f;
          }
          .heroStatusBlock {
            display: flex;
            flex-direction: row;
            align-items: center;
            .heroStatusImg {
              width: 10px;
              height: 10px;
              margin-right: 10px;
            }
          }
        }
      }
      .lastLocationBlock {
        .lastLocationParag {
          color: rgb(158, 158, 158);
          font-size: 16px;
        }
        .lastLocationSpan {
          font-size: 20px;
          cursor: pointer;
        }
        .unknownInfo {
          font-size: 20px;
        }
        .lastLocationSpan:hover {
          color: #ce994f;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .loading {
      width: 500px;
      height: 150px;
      font-size: 30px;
    }
    .countBlock {
      font-size: 14px;
    }
    .charactersBlock {
      .characterItem {
        width: 500px;
        height: 150px;
        margin: 0 0 10px 0;
        .characterImg {
          width: 150px;
          height: 150px;
        }
        .characterInfoBlock {
          width: 350px;
          .heroNameAndStatusBlock {
            .heroName {
              font-size: 16px;
            }
            .heroStatusBlock {
              font-size: 12px;
            }
          }
          .lastLocationBlock {
            .lastLocationParag {
              font-size: 12px;
            }
            .lastLocationSpan {
              font-size: 14px;
            }
            .unknownInfo {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    margin-top: 50px;
    .loading {
      width: 400px;
      height: 150px;
      font-size: 30px;
    }
    .countBlock {
      font-size: 14px;
    }
    .charactersBlock {
      .characterItem {
        width: 400px;
        height: 100px;
        margin: 0 0 10px 0;
        .characterImg {
          width: 100px;
          height: 100px;
        }
        .characterInfoBlock {
          width: 300px;
          .heroNameAndStatusBlock {
            .heroName {
              font-size: 16px;
            }
            .heroStatusBlock {
              font-size: 10px;
              .heroStatusImg {
                width: 6px;
                height: 6px;
              }
            }
          }
          .lastLocationBlock {
            .lastLocationParag {
              font-size: 10px;
            }
            .lastLocationSpan {
              font-size: 12px;
            }
            .unknownInfo {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
