.container {
  margin-top: 64px;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 32, 41);
  border-bottom: 20px solid rgb(35, 32, 41);
  .sliderBlock {
    .sliderImg {
      width: 1024px;
      height: 300px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    height: 220px;
    .sliderBlock {
      .sliderImg {
        width: 700px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 180px;
    .sliderBlock {
      .sliderImg {
        width: 520px;
        height: 160px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    height: 140px;
    .sliderBlock {
      .sliderImg {
        width: 300px;
        height: 120px;
      }
    }
  }
}
